appServerType=tomcat
appServerDir=/opt/abiquo/tomcat
dbType=mysql
dbUsername={{ abiquo_reporting_db_username }}
dbPassword={{ abiquo_reporting_db_password }}
dbHost={{ abiquo_reporting_db_host }}
dbPort={{ abiquo_reporting_db_port }}
